{% include "header.html" %}

   <body>
      {% include "menu.html" %}
      <!-- blog section start -->
      <div class="blog_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="blog_taital">Latest Blogs</h1>
               </div>
            </div>
            <div class="blog_section_2">
               <div class="row">
                  <div class="col-md-4">
                     <div class="blog_img"><img src="/static/images/blog-img1.png"></div>
                     <div class="btn_main">
                        <div class="date_text"><a href="#">06<br>April</a></div>
                     </div>
                     <div class="blog_box">
                        <h3 class="blog_text">Undoubtable source</h3>
                        <p class="lorem_text"> looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, contenish</p>
                     </div>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
                  <div class="col-md-4">
                     <div class="blog_img"><img src="/static/images/blog-img2.png"></div>
                     <div class="btn_main">
                        <div class="date_text active"><a href="#">06<br>April</a></div>
                     </div>
                     <div class="blog_box">
                        <h3 class="blog_text">Undoubtable source</h3>
                        <p class="lorem_text"> looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, contenish</p>
                     </div>
                     <div class="read_bt active"><a href="#">Read More</a></div>
                  </div>
                  <div class="col-md-4">
                     <div class="blog_img"><img src="/static/images/blog-img3.png"></div>
                     <div class="btn_main">
                        <div class="date_text"><a href="#">06<br>April</a></div>
                     </div>
                     <div class="blog_box">
                        <h3 class="blog_text">Undoubtable source</h3>
                        <p class="lorem_text"> looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, contenish</p>
                     </div>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- blog section end -->
      {%include 'footer.html'%}