{% include "header.html" %}

   <body>
      {% include "menu.html" %}
      <!-- categroy section start -->
      <div class="categroy_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="categroy_taital">Popular Categories</h1>
               </div>
            </div>
            <div class="categroy_section_2">
               <div id="main_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="row">
                           <div class="col-md-4">
                              <div class="hover01 column">
                                 <figure><img src="/static/images/img-1.png"></figure>
                              </div>
                              <h3 class="materials_text">Materials</h3>
                              <p class="categroy_text">words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</p>
                              <div class="readmore_btn"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-md-4">
                              <div class="hover01 column">
                                 <figure><img src="/static/images/img-2.png"></figure>
                              </div>
                              <h3 class="materials_text">Industrials</h3>
                              <p class="categroy_text">words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</p>
                              <div class="readmore_btn active"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-md-4">
                              <div class="hover01 column">
                                 <figure><img src="/static/images/img-3.png"></figure>
                              </div>
                              <h3 class="materials_text">Consumer Disc</h3>
                              <p class="categroy_text">words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</p>
                              <div class="readmore_btn"><a href="#">Read More</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-md-4">
                              <div class="hover01 column">
                                 <figure><img src="/static/images/img-1.png"></figure>
                              </div>
                              <h3 class="materials_text">Materials</h3>
                              <p class="categroy_text">words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</p>
                              <div class="readmore_btn"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-md-4">
                              <div class="hover01 column">
                                 <figure><img src="/static/images/img-2.png"></figure>
                              </div>
                              <h3 class="materials_text">Industrials</h3>
                              <p class="categroy_text">words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</p>
                              <div class="readmore_btn active"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-md-4">
                              <div class="hover01 column">
                                 <figure><img src="/static/images/img-3.png"></figure>
                              </div>
                              <h3 class="materials_text">Consumer Disc</h3>
                              <p class="categroy_text">words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</p>
                              <div class="readmore_btn"><a href="#">Read More</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-md-4">
                              <div class="hover01 column">
                                 <figure><img src="/static/images/img-1.png"></figure>
                              </div>
                              <h3 class="materials_text">Materials</h3>
                              <p class="categroy_text">words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</p>
                              <div class="readmore_btn"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-md-4">
                              <div class="hover01 column">
                                 <figure><img src="/static/images/img-2.png"></figure>
                              </div>
                              <h3 class="materials_text">Industrials</h3>
                              <p class="categroy_text">words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</p>
                              <div class="readmore_btn active"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-md-4">
                              <div class="hover01 column">
                                 <figure><img src="/static/images/img-3.png"></figure>
                              </div>
                              <h3 class="materials_text">Consumer Disc</h3>
                              <p class="categroy_text">words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</p>
                              <div class="readmore_btn"><a href="#">Read More</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                  </a>
                  <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <!-- categroy section end -->
      {%include 'footer.html'%}