{% include "header.html" %}

<body>
   {% include "menu.html" %}
      <!-- banner section start --> 
      {% comment %} <div class="banner_section layout_padding">
         <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="banner_img"><img src="/static/images/banner-img.png"></div>
                        </div>
                       
                        <div class="col-md-6">
                           <div class="banner_taital_main">
                              <h1 class="banner_taital">Become Artitech of your future business of samrprofile</h1>
                              <form>
                                 <input type="text" class="search_text" placeholder="Search text here" name="Search text here">
                                 <div class="search_bt"><a href="#">Search Now</a></div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="banner_img"><img src="/static/images/banner-img.png"></div>
                        </div>
                        <div class="col-md-6">
                           <div class="banner_taital_main">
                              <h1 class="banner_taital">Become Artitech of your future business</h1>
                              <form>
                                 <input type="text" class="search_text" placeholder="Search text here" name="Search text here">
                                 <div class="search_bt"><a href="#">Search Now</a></div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="banner_img"><img src="/static/images/banner-img.png"></div>
                        </div>
                        <div class="col-md-6">
                           <div class="banner_taital_main">
                              <h1 class="banner_taital">Become Artitech of your future business</h1>
                              <form>
                                 <input type="text" class="search_text" placeholder="Search text here" name="Search text here">
                                 <div class="search_bt"><a href="#">Search Now</a></div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div> {% endcomment %}
      <!-- banner section end -->
      <!-- categroy section start -->
      {% for x in name %}
      <h1>{{ x }}</h1>
      {% endfor %}


      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h1 class="categroy_taital">Show Data here</h1>
            </div>
         </div>
      <div>
         <table>
         <tr>
           <th>Name</th>
           <th>Age</th>
           <th>Salary</th>
         </tr>
         {% for d in sdetail %}
         <tr>
           <td>{{d.name}}</td>
           <td>{{d.age}}</td>
           <td>{{d.salary}}</td>
         </tr>
         {% endfor %}
      </table>
   </div>
 
   </div>
         
         {% comment %} <div class="map_main">
            <div class="map-responsive">
               <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="300" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
            </div>
         </div>
      </div></div> {% endcomment %}
      <!-- contact section end -->
      {%include 'footer.html'%}