{% include "header.html" %}

   <body>
      {% include "menu.html" %}
      <!-- client section start -->
      <div class="client_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="client_taital">Our clients Review</h1>
                  <p class="client_text">Content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as</p>
               </div>
            </div>
         </div>
      </div>
      <div class="client_section_2">
         <div class="container">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="customer_main">
                              <div class="customer_left">
                                 <div class="customer_img"><img src="/static/images/client-img.png"></div>
                              </div>
                              <div class="customer_right">
                                 <h3 class="customer_name">Doen Amrk</h3>
                                 <p class="enim_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, asIt is a long established fact that a reader will be distracted </p>
                              </div>
                           </div>
                           <div class="customer_main_1">
                              <div class="customer_left_1">
                                 <div class="client_img1"><img src="/static/images/client-img1.png"></div>
                              </div>
                              <div class="customer_right_1">
                                 <h3 class="customer_name">Josp Amrk</h3>
                                 <p class="enim_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of lette </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="customer_main">
                              <div class="customer_left">
                                 <div class="customer_img"><img src="/static/images/client-img.png"></div>
                              </div>
                              <div class="customer_right">
                                 <h3 class="customer_name">Doen Amrk</h3>
                                 <p class="enim_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, asIt is a long established fact that a reader will be distracted </p>
                              </div>
                           </div>
                           <div class="customer_main_1">
                              <div class="customer_left_1">
                                 <div class="client_img1"><img src="/static/images/client-img1.png"></div>
                              </div>
                              <div class="customer_right_1">
                                 <h3 class="customer_name">Josp Amrk</h3>
                                 <p class="enim_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of lette </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="customer_main">
                              <div class="customer_left">
                                 <div class="customer_img"><img src="/static/images/client-img.png"></div>
                              </div>
                              <div class="customer_right">
                                 <h3 class="customer_name">Doen Amrk</h3>
                                 <p class="enim_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, asIt is a long established fact that a reader will be distracted </p>
                              </div>
                           </div>
                           <div class="customer_main_1">
                              <div class="customer_left_1">
                                 <div class="client_img1"><img src="/static/images/client-img1.png"></div>
                              </div>
                              <div class="customer_right_1">
                                 <h3 class="customer_name">Josp Amrk</h3>
                                 <p class="enim_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of lette </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
               <i class="fa fa-arrow-left"></i>
               </a>
               <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
               <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- client section end -->
      {%include 'footer.html'%}