

{% include "header.html" %}

   <body>
      {% include "menu.html" %}
      <!-- categroy section start -->
      <div class="categroy_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="categroy_taital">Work on Panda Library</h1>
               </div>
            </div>
here is body
{{cpsales }}

         </div>
      </div>
      <!-- categroy section end -->
      {%include 'footer.html'%}